
.grid {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.row {
  text-align: center;
  font-size: x-large;
}

.row-button {
  text-align: left;
}