<!-- Region Map -->
<div id="regionMap">

</div>

<!-- Filters-->
<div id="filters">
  <div>CATEGORÍA</div>
  <div class="input-group mb-3">
    <select class="custom-select" #t (change)="callType(t.value)" name="">
            <option value="">Todas</option>
            <option value="cine">Cine, Teatro y Monólogos</option>
            <option value="teatro">Deporte y Bienestar</option>

    </select>
  </div>

  <div>FECHA</div>
  <div class="input-group mb-3">
    <!-- <span>FECHA</span> -->
    <select class="custom-select" id="dateGroupSelect">
      <option value="">Todas</option>
      <option value="today">Hoy</option>
      <option value="tomorrow">Mañana</option>
      <option value="nextWeek">Próxima semana</option>
    </select>
  </div>
</div>


<div id="regionTable">
  <div>
    <h2>Cine</h2>
  </div>

  <div class="card-deck mt-5">
    <app-event-item *ngFor="let event of events | category: order" [order]="order" [event]="event"></app-event-item>
  </div>
 

</div> 
